<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo">
	<!--
		#{lang, typehandler=stringArray2VarcharTypeHandler}
		typeHandler.java에 @MappedTypes @mappedJdbcType 선언 시 위 문장을 생략하고 #{lang}으로만 사용가능
	-->
	<insert id="insertDev">
		insert into
			dev
		values(
			seq_dev_no.nextval,
			#{name},
			#{career},
			#{email},
			#{gender},
			#{lang}
		)
	</insert>
</mapper>

